*{
  font-family: "Open Sans";
}

body {
  display: flex;
  flex-direction: row;
  background: #CFD8DC;
  margin: 0px;
}

header{
  display: block;
  text-align: center;
}

a{
  color: #607D8B;
}

hr{
  border: none;
  margin-top: 18px;
  width: 90%;
  height: 2px;
  background: #CFD8DC;
}

button{
  outline: none !important;
}

ul{
  list-style-type: none;
  padding: 0;
}

li {
  list-style: none;
}

a{
  text-decoration-color: #F2F4F4;
}

a:hover{
  text-decoration-color: #FFC107;
}

.section-left{
  flex: 1;
  background: #455A64;
  display: inline-block;
  margin: 0px;
  padding-bottom: 8%;
}

.left-container{
  margin-top: 8%;
  margin-bottom:5%;
}

.logo {
  max-width:60%;
  margin-left: 5px;
  margin-right: 5px;
}

.enter-btn{
   font-size: 140%;
   border: none;
   margin-left: auto;
   margin-right: auto;
   color: #FFFFFF;
   background: #FFC107;
   height: 42px;
   width: 60%;
   display: block;
   margin-top: 1%;
}

.enter-btn:hover{
  background: #FFD773;
  cursor: pointer;
}


.website-name-field, .website-url-field{
  display: block;
  margin: auto;
  font-weight:lighter;
  padding-left: 1%;
  font-size: 150%;
  color: #D0D2D3;
  width: 58%;
}

.website-name-field{
  margin-top: 5%
}

.website-url-field{
  margin-top: 1%;
}

.total-bkms{
  font-size: 120%;
  font-weight: lighter;
  border: none;
  margin-left: auto;
  margin-right: auto;
  color: #FFFFFF;
  background: #35454C;
  height: 42px;
  width: 60%;
  display: block;
  margin-top: 9%;
  text-align: center;
}

.read-bkms{
  font-size: 120%;
  font-weight: lighter;
  border: none;
  margin-left: auto;
  margin-right: auto;
  color: #FFFFFF;
  background: #35454C;
  height: 42px;
  width: 60%;
  display: block;
  margin-top: 4.5%;
  text-align: center;
}

.clear-all{
  font-size: 105%;
  font-weight: normal;
  border: none;
  margin-left: auto;
  margin-right: auto;
  color: #FFFFFF;
  background: #F05A28;
  height: 42px;
  width: 60%;
  display: block;
  margin-top: 4.5%;
  margin-bottom: 10%;
}

.clear-all:hover{
  background: #E87862;
  cursor: pointer;
}

/*Right Section*/

.section-right{
  flex: 1;
  height: 700px;
  display: block;
  overflow-y: scroll;
}

.container{
  height: 180px;
  width:90%;
  margin: auto;
  margin-top: 20px;
  border: 10px;
  justify-content: space-around;
  background: white;
  border: solid;
  border-color: #607D8B;
  flex: 1;
  transform-origin: center center;
}

.card-title{
  color: #455A64;
  font-size: 160%;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: -30px;
  margin-left: 20px;
}

.website-link{
  color: #455A64;
  font-size: 130%;
  font-weight: 300;
  margin-top: 15px;
  margin-left: 20px;
}

.read-btn, .delete-btn{
  color: #455A64;
  font-size: 16px;
  font-weight: 300;
  background: none;
  border: none;
  margin-bottom: 10px;
}

.read-btn:hover,.delete-btn:hover{
  border-bottom: 2px solid #FFC107;
}

.read-btn{
  margin-left: 20px;
}

.read{
  color: #F05A28;
  font-weight: 800;
}

.container-read{
  background:#f2f2f4;
}

.delete-btn{
  display: block;
  float: right;
  margin-right: 25px;
}

@media (max-width: 900px) {
  body {
    flex-direction: column;
  }

  .section-right {
    overflow-y: unset;
  }
}
